
@font-face{

	font-family: Lato;
	src: url('fonts/Lato/Lato-Light.ttf')  format('truetype');
}

html,body{
	background-color:  /*#081b27 */ #103d54;
	/*color:#f0f2f0;*/
	height: 100%;
}
body {
     display: flex;
    
     flex-direction: column;
     overflow-y: hidden;
	 font-family: 'Lato', sans-serif;  
 }
 main {
     flex: 1 0 auto;
    /* background-image: url('/img/wallpaper.jpg');*/
 }
.invisivel{
	display: none;
}
.invisivel2{
	visibility: hidden;
}
.visivel{
	display: none;
}
.fontebase{
	font-family: 'Lato';
}
/*
.container-main{
	width: 100%;
	min-height:100%;
	max-width: 0 auto;
	margin: 0 auto;
	position: relative;
	overflow-y: hidden;
	font-family: 'Lato', sans-serif;  
}*/
.topo-index{
	width: 100%;
	margin: 0 auto;
}
#topo-titulo{
	font-size: 2rem;
	margin: 0 auto;
	padding: 10%;
	
}
.sol-img,
.sol-img img{
	width: 15em;
	height: 15em;
	margin: 0 auto;
}

.box-login{
	width: 15em;
	height: 15em;
	margin: 0 auto;
	position: relative;
	z-index: 1;

}
.form-login{
	margin-top: 40%;
}
.form-login a{
	margin-left: 32%
}

.login input[type=email]{
		
	width: 100%;
	height: 20px;
	background: transparent;
	border: 1px solid #2dbfbf;
	border-radius: 2px;
	border-top:transparent;
	border-left: transparent;
	border-right:transparent;
	outline: none;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: 400;
	padding:0.25em;
}

.login input[type=password]{
		
	width: 100%;
	height: 20px;
	background: transparent;
	border: 1px solid #2dbfbf;
	border-radius: 2px;
	border-top:transparent;
	border-left: transparent;
	border-right:transparent;
	outline: none;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: 400;
	padding: 0.25em;
	margin-top: 0.1875em; /* Igual a 3px*/
}
::-webkit-input-placeholder {
   color: #2dbfbf;
}

:-moz-placeholder { /* Firefox 18- */
   color: #2dbfbf;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #2dbfbf;  
}

:-ms-input-placeholder {  
   color: #2dbfbf;  
}


.botao{
	
	margin: 1em;
	margin-left: 0; /*  */
	position: relative;

	  width: 100%;
	  height: 2rem;  
	  color: #fff;
	  background-image: linear-gradient(45deg, #005b27, #00BFFF);
	  font-size: 1rem;
	  font-weight: bold
	  text-align:center;
	  border-radius: 1px;
	  border: none;
	  cursor: pointer;
	  overflow: hidden;
	  -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
	  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
.btn-entrar{
	margin-top: -20%;
	position: relative;
}

.material-icons{
	width: 0.5rem;
}
.camp-senha{

	margin-top: 20%;
	position: relative;
}

/*============================Alterações no materialize================*/

.nav-header{

	background-color: #081b27;
}
.nav-fonte{
	font-size: 0.5rem;
}
.nav-content a{
	font-size:0.5rem;
}

.tabs .indicator{
	background-color: #00b3d9;
}
.tabs .indicator { background-color: #00b3d9 !important; }

.card-image{
	width: 26%;
	margin-left: 5%;
}
.btn-plus{
	position: fixed;
	margin-top: 121%;
	margin-left: 79%;	
}
.collection{
	border:none !important;

}
.collection-item-evento{
	background: transparent !important;
	border:none !important;
}

.collection-modal{
	border:1px solid #000 !important;
}
.config-item{
	background: transparent !important;
	border: transparent !important;
	z-index: 800 !important;
	/*border-top: 1px solid #12f3f3 !important;*/

}


.item-color{
	color: #00838f !important;
}
.span-text{
	color: #fff !important;
	font-family: 'Lato' !important;
}
.span-text-black{
	color: #000 !important;
	font-family: 'Lato' !important;
}
.btn-text-modal{
	
	padding-left: -2% !important;
	color: #fff !important;
	font-size: 0.6rem !important;	
	font-family: 'Lato' !important;

}

.fechar-modal{
	width: 1.3rem !important;
	height: 1.3rem !important;
	border-radius: 50% !important;
	margin-top: -28rem;
}


.picker__box{
	width: 85% !important;
	height: 23rem !important;
}
.picker__date-display{
	font-size: 2rem !important;
	background-color: #082d54 !important;
}
.picker__month-display{
	font-size: 1.5rem !important;
}
.picker__weekday-display{
	font-size: 1.8rem !important;
}
.picker__day-display{
	font-size: 2rem !important;
}
..picker__day--infocus{
	letter-spacing:-.1px !important;
	padding:0.1rem 0;
}
.picker__today{
	font-size: 0.8rem !important;
}
.picker__clear{
	font-size: 0.8rem !important;
}
.picker__select--year.browser-default{
	width: 29% !important;
}
.picker__select--month.browser-default{
	width: 50% !important;
}
.picker__nav--prev{
	left: -2rem !important;
}

.box-informacao{
	width: 100% !important;
	position: fixed !important;
	margin-top: 20% !important;
	z-index: 999;	
}
.box-help{
	width: 100% !important;
	position: fixed !important;
	margin-top: -15% !important;
	font-family: 'Lato' !important;
	font-size: 0.8rem !important;
	z-index: 999;
}
.informacao-shadow{
	box-shadow: 0.5rem 1rem 3rem #000 ;
	background-color: #081b27 !important;
}
.info-item{
	background: transparent !important;
	border-bottom: 1px solid #42a5f5 !important;
	font-family: 'Lato' !important;
	color: #fff !important;
}
.info-button{
	margin-top: 10% !important;
	margin-left: 50% !important;
	color: #fff !important;
	font-family: 'Lato' !important;
	font-size: 1rem !important;
}
.badge{
	color: #fff !important;
}
.side-nav{
	height: 36.5rem !important;
	margin-top: 14% !important;
}

#inputLogin input[type=email],
input[type=password],
input[type=text]{
	margin-bottom: 0rem !important;
	height: 2rem !important;
	width:  100% !important;
	margin-left: 10% !important;
}

#inputLogin label{
	margin-left: 10% !important;
}

#configWallpaper{
	height: 10rem !important;
}

/*=================================================================*/

.user-header{
	width: 100%;
	height: 2rem;
	background-color:#031018;
	font-family: 'Lato';
	color:#fff;
	font-size: 1rem;
}

.titulo-header{
	margin-left: 5%;
	margin-right: auto;
	position: relative;
}

.conteudo{
	width: 100%;
	height: 30rem;
	margin: 0 auto;
	margin-top: 0 auto;
	position: relative;
	overflow-x: hidden;
	/*overflow-y: hidden;*/

}


.conteudo-home{
	width: 100%;
	height: 33rem;
	margin-top: -1.1rem;
	position: relative;
	overflow-x: hidden;	
}

#img-wallpaper{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	/*margin-top: -3.8rem;*/
}

.iconMenu-contorno{
	width: 9%;
	height: 2rem;
	margin-top: -40%;
	margin-left: 2%;
	z-index: 900;
	position: absolute;
	background-color:transparent;
	border-radius: 50%; 
 	box-shadow: 1rem 1rem 3rem #000 ;
}
.home-front{
	z-index: 2;
	position: relative;
}
.data-box{
	width: 40%;
	height: 8rem;
	margin-left: 59%;
	margin-top: 5%;
	background-color:transparent;
	/*background-color:#000;
	opacity: 0.6;*/
	border-radius: 50%; 
 	box-shadow: 1rem 1rem 3rem #000 ;
}

.dia{
	text-align: center;
	font-family: 'Lato';
	font-size: 2rem;
	font-weight: bold;
	padding-top: 15%;
}
.mesAno{
	text-align: center;
	font-family: 'Lato';
	font-size: 1rem;
	font-weight: 400;
}
.diaExtenso{
	text-align: center;
	font-family: 'Lato';
	font-size: 1rem;
	font-weight: 400;
}
.btn-continuar{
	width: 100% !important;
	height: 2rem !important;
	font-size: 0.8rem !important;
	font-family: 'Lato' !important;
	color: #fff !important;
}
.btn-logar{
	width: 80% !important;
	height: 2rem !important;
	margin-left: 10% !important;
	font-size: 0.8rem !important;
	font-family: 'Lato' !important;
	color: #fff !important

}

.btn-cancelar{
	margin-top: 0.5rem !important;
	width: 100% !important;
	height: 2rem !important;
	font-size: 1rem !important;
	font-family: 'Lato' !important;
	color: #fff !important;
}
.btnCancelar{ /* Cancelar cadastro*/
	width: 80% !important;
	height: 2rem !important;
	margin-left: 10% !important;
	margin-top: 4% !important;
	font-size: 0.8rem !important;
	font-family: 'Lato' !important;
	color: #fff !important

}
.btn-fecha-user{
	margin-top: -70%;
	margin-left: 90%;	
	width:2rem !important; 
	height:2rem !important;
	/*font-size: 0.5rem !important;*/
	padding-top: 0.1em;	
	position: relative;
	
}
#carregando{
	margin-top: 50% !important;
	margin-left: 42% !important;
}
#carregando-wallpaper{
	margin-top: 10% !important;
	margin-left: 42% !important;
}
#cadastrese{
	color: #1565c0;
	margin-left: 0%;
	position: relative;          
}

#config-li{
	background: transparent !important;
}
.btn-fala{
	position: fixed;
	margin-top: 90%;
	margin-left: 90%;	
	width:4.2rem !important; 
	height:4.2rem !important;
	font-size: 2rem !important;
	padding-top: 0.1em;	

}
/*============================== SVG =============================*/

.svg{
	width: 35%;
	height: 10%;
	margin-left: 65%;
    display: none;
}

.svg-plus{
	width: 1px;
	height: 1px;
	display: none;
	
}
.svg-menu{
	width: 1px;
	height: 1px;
	display: none;

}

.icons-label{
	font-size: 1rem;
	color: #fff;
	position: relative;
	margin-left:  10%;
	margin-top:  -90%;
}
.nav-label{
	font-size: 0.6rem !important;
}

.home-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0%;
  margin-bottom: 0%;
  position: relative;
  fill: #fff;


}
.home-icon:hover{
	fill: #12f3f3;
	
}
.icon-cog{
  width: 1rem;
  height: 1rem;
  margin-left: 0%;
  margin-bottom: 0%;
  position: relative;
  fill: #fff;

}
.icon-cog:hover{
	fill: #12f3f3;
	
}
.icon-folder-open{
  width: 1rem;
  height: 1rem;
  margin-left: 0%;
  margin-bottom: 0%;
  position: relative;
  fill: #fff;
}
.icon-folder-open:hover{
	fill: #12f3f3;
	
}
.icon-users{
  width: 1rem;
  height: 1rem;
  margin-left: 0%;
  margin-bottom: 0%;
  position: relative;
  fill: #fff;
}
.icon-users:hover{
  fill: #12f3f3;	
}
.icon-mic{
  width: 2rem;
  height: 2rem;
  margin-left: 0%;
  margin-bottom: 0%;
  position: relative;
  fill: #fff;
}
.icon-mic:hover{
  fill: #12f3f3;		
}

.icon-connection{
  width: 2rem;
  height: 1rem;
  margin-left: 2%;
  margin-top: 2%;
  position: relative;
  fill: #000;
}
.conexaoff{
	fill: #FF0000;
}
.conexaon{
	fill: #32CD32;
}
.icon-menu{
  width: 1rem;
  height: 1rem;
  margin-left: 2%;
  margin-top: 2%;
  position: relative;
  fill: #fff;
}
.icon-menu:hover{
  fill: #12f3f3;
}
.icon-circle-left{
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2%;
  margin-top: 2%;
  position: relative;
  fill: #fff;
}

.icon-help{

  width: 1.1rem;
  height: 1.1rem;
  margin-left: 89%;
  margin-top: 29%;
  position: fixed;
  fill: #fff;

}
.icon-help:hover{
  fill: #12f3f3;
}

.plus-icon{
  width: 1rem;
  height: 1rem;
  fill: #fff;
}

.tab a:hover{
	color: #12f3f3;
}


/*==================================================================
							@Media
====================================================================*/

@media (min-width: 360px){

.conteudo{
	width: 100%;
	height: 34rem;
	margin: 0 auto;
	margin-top: 0 auto;
	position: relative;
	overflow-x: hidden;
	/*overflow-y: hidden;*/

}

.conteudo-home{
	width: 100%;
	height: 36rem;
	margin-top: -1.1rem;
	position: relative;
	overflow-x: hidden;	
}

.svg{
	width: 35%;
	height: 10%;
	margin-left: 65%;
}	


.nav-label{
	font-size: 0.8rem !important;
}
.btn-fecha-user{
	margin-top: -70%;
	margin-left: 90%;	
	width:2rem !important; 
	height:2rem !important;
	/*font-size: 0.5rem !important;*/
	padding-top: 0.1em;	
	position: relative;
	
}

.btn-plus{
	position: fixed;
	margin-top: 130%;
	margin-left: 75%;	
	width:4.2rem !important; 
	height:4.2rem !important;
	font-size: 2rem !important;
	padding-top: 0.1em;	
	
}
.btn-debug{
	position: fixed;
	margin-top: 75%;
	margin-left: 75%;	
	width:4.2rem !important; 
	height:4.2rem !important;
	font-size: 2rem !important;
	padding-top: 0.1em;	
}
.btn-limpa{
	position: fixed;
	margin-top: 75%;
	margin-left: 55%;	
	width:4.2rem !important; 
	height:4.2rem !important;
	font-size: 2rem !important;
	padding-top: 0.1em;	
}
.btn-drop{
	position: fixed;
	margin-top: 75%;
	margin-left: 35%;	
	width:4.2rem !important; 
	height:4.2rem !important;
	font-size: 2rem !important;
	padding-top: 0.1em;	

}
.btn-fala{
	position: fixed;
	margin-top: 75%;
	margin-left: 90%;	
	width:4.2rem !important; 
	height:4.2rem !important;
	font-size: 2rem !important;
	padding-top: 0.1em;	

}
.msg{
	width: 100%;
	height: 4rem;
}

.data-box{
	width: 41%;
	height: 9rem;
	margin-left: 55%;
	margin-top: 5%;
	background-color:transparent;
	/*background-color:#000;
	opacity: 0.6;*/
	border-radius: 50%; 
 	box-shadow: 1rem 1rem 3rem #000 ;
}
.dia{
	text-align: center;
	font-family: 'Lato';
	font-size: 2.5rem;
	font-weight: bold;
	padding-top: 15%;
}
.mesAno{
	text-align: center;
	font-family: 'Lato';
	font-size: 1.5rem;
	font-weight: 400;
}
.diaExtenso{
	text-align: center;
	font-family: 'Lato';
	font-size: 1rem;
	font-weight: 400;
}
.picker__box{
	width: 100% !important;
	height: 25rem !important;
}
.side-nav{
	height: 36.7rem !important;
	margin-top: 14% !important;
}
.box-help{
	width: 100% !important;
	position: fixed !important;
	margin-top: -20% !important;
	font-family: 'Lato' !important;
	font-size: 1rem !important;
	z-index: 999;	
}


.iconMenu-contorno{
	width: 8%;
	height: 2rem;
	margin-top: -60%;
	margin-left: 2%;
	z-index: 900;
	position: absolute;
	background-color:transparent;
	border-radius: 50%; 
 	box-shadow: 1rem 1rem 3rem #000 ;
}


}
@media (min-width: 412px){	


.conteudo{
	width: 100%;
	height: 34rem;
	margin: 0 auto;
	margin-top: 0 auto;
	position: relative;
	overflow-x: hidden;
	/*overflow-y: hidden;*/

}	
.iconMenu-contorno{
	width: 6%;
	height: ;
	background-color:transparent;
	border-radius: 50%; 
 	box-shadow: 1rem 1rem 3rem #000 ;
}
.conteudo-home{
	width: 100%;
	height: 43rem;
	margin-top: -1.1rem;
	position: relative;
	overflow-x: hidden;	
}
.nav-label{
	font-size: 0.8rem !important;
}

.data-box{
	width: 40%;
	height: 10rem;
	margin-left: 57%;
	margin-top: 5%;
	background-color:transparent;
	/*background-color:#000;
	opacity: 0.6;*/
	border-radius: 50%; 
 	box-shadow: 1rem 1rem 3rem #000 ;
}
.icon-help{

  width: 1.1rem;
  height: 1.1rem;
  margin-left: 92%;
  margin-top: 29%;
  position: fixed;
  fill: #fff;

}
.icon-help:hover{
  fill: #12f3f3;
}

.btn-plus{
	position: fixed;
	margin-top: 110%;
	margin-left: 80%;
	padding-top: 0.1rem;	
}
.picker__box{
	width: 100% !important;
	height: 25rem !important;
}

.side-nav{
	height: 39rem !important;
	margin-top: 14% !important;
}

.btn-fala{
	position: fixed;
	margin-top: 85%;
	margin-left: 90%;	
	width:4.2rem !important; 
	height:4.2rem !important;
	font-size: 2rem !important;
	padding-top: 0.1em;	

}


}

@media (min-width: 375px){	


.conteudo{
	width: 100%;
	height: 34rem;
	margin: 0 auto;
	margin-top: 0 auto;
	position: relative;
	overflow-x: hidden;
	/*overflow-y: hidden;*/

}	

.conteudo-home{
	width: 100%;
	height: 39rem;
	margin-top: 0 auto;
	position: relative;
	overflow-x: hidden;	
}
.nav-label{
	font-size: 0.8rem !important;
}
.data-box{
	width: 42%;
	height: 10rem;
	margin-left: 57%;
	margin-top: 6%;
	background-color:transparent;
	/*background-color:#000;
	opacity: 0.6;*/
	border-radius: 50%; 
 	box-shadow: 1rem 1rem 3rem #000 ;
}
.dia{
	text-align: center;
	font-family: 'Lato';
	font-size: 2.5rem;
	font-weight: bold;
	padding-top: 15%;
}
.mesAno{
	text-align: center;
	font-family: 'Lato';
	font-size: 1.5rem;
	font-weight: 400;
}
.diaExtenso{
	text-align: center;
	font-family: 'Lato';
	font-size: 1rem;
	font-weight: 400;
}
.iconMenu-contorno{
	width: 7%;
	height: ;
	background-color:transparent;
	border-radius: 50%; 
 	box-shadow: 1rem 1rem 3rem #000 ;
}
.icon-help{

  width: 1.1rem;
  height: 1.1rem;
  margin-left: 93%;
  margin-top: 30%;
  position: fixed;
  fill: #fff;

}
.icon-help:hover{
  fill: #12f3f3;
}

.btn-plus{
	position: fixed;
	margin-top: 125%;
	margin-left: 79%;
	padding-top: 0.3rem;	
}
.side-nav{
	height: 42rem !important;
	margin-top: 14% !important;
}

}

@media (min-width: 414px){	


.conteudo{
	width: 100%;
	height: 39rem;
	margin: 0 auto;
	margin-top: 0 auto;
	position: relative;
	overflow-x: hidden;
	/*overflow-y: hidden;*/

}
.conteudo-home{
	width: 100%;
	height: 43rem;
	margin-top: 0 auto;
	position: relative;
	overflow-x: hidden;	
}	
.nav-label{
	font-size: 0.8rem !important;
}

.data-box{
	width: 43%;
	height: 11rem;
	margin-left: 53%;
	margin-top: 5%;
	background-color:transparent;
	/*background-color:#000;
	opacity: 0.6;*/
	border-radius: 50%; 
 	box-shadow: 1rem 1rem 3rem #000 ;
}
.dia{
	text-align: center;
	font-family: 'Lato';
	font-size: 2.5rem;
	font-weight: bold;
	padding-top: 15%;
}
.mesAno{
	text-align: center;
	font-family: 'Lato';
	font-size: 1.5rem;
	font-weight: 400;
}
.diaExtenso{
	text-align: center;
	font-family: 'Lato';
	font-size: 1rem;
	font-weight: 400;
}


.btn-plus{
	position: fixed;
	margin-top: 123%;
	margin-left: 78%;
	width:5rem !important; 
	height:5rem !important;
	padding-top: 0.6rem;
	
}

.plus-name{

	font-size: 3rem !important;
	padding-top: 0.2em;	
}

.picker__box{
	width: 100% !important;
	height: 25rem !important;
}

}


@media (min-width: 290px){	




.conteudo{
	width: 100%;
	height: 39rem;
	margin: 0 auto;
	margin-top: 0 auto;
	position: relative;
	overflow-x: hidden;
	/*overflow-y: hidden;*/

}
.conteudo-home{
	width: 100%;
	height: 23rem;
	margin-top: 0 auto;
	position: relative;
	overflow-x: hidden;	
}	

.side-nav{
	height: 28rem !important;
	margin-top: 18% !important;
}

.icon-mic{
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0%;
  margin-bottom: 0%;
  position: relative;
  fill: #fff;
}
.icon-mic:hover{
  fill: #12f3f3;		
}

.btn-fala{
	position: fixed;
	margin-top: 75%;
	margin-left: 90%;	
	width:4.2rem !important; 
	height:4.2rem !important;
	font-size: 2rem !important;
	padding-top: 0.1em;	

}


.data-box{
	width: 35%;
	height: 6rem;
	margin-left: 53%;
	margin-top: 5%;
	background-color:transparent;
	/*background-color:#000;
	opacity: 0.6;*/
	border-radius: 50%; 
 	box-shadow: 1rem 1rem 3rem #000 ;
}
.dia{
	text-align: center;
	font-family: 'Lato';
	font-size: 1.5rem;
	font-weight: bold;
	padding-top: 15%;
}
.mesAno{
	text-align: center;
	font-family: 'Lato';
	font-size: 1rem;
	font-weight: 400;
}
.diaExtenso{
	text-align: center;
	font-family: 'Lato';
	font-size: 1rem;
	font-weight: 400;
}


.btn-plus{
	position: fixed;
	margin-top: 123%;
	margin-left: 78%;
	width:5rem !important; 
	height:5rem !important;
	padding-top: 0.6rem;
	
}

.plus-name{

	font-size: 3rem !important;
	padding-top: 0.2em;	
}

.picker__box{
	width: 100% !important;
	height: 25rem !important;
}
.iconMenu-contorno{
	width: 9%;
	height: 2rem;
	margin-top: -35%;
	margin-left: 2%;
	z-index: 900;
	position: absolute;
	background-color:transparent;
	border-radius: 50%; 
 	box-shadow: 1rem 1rem 3rem #000 ;
}

.icon-help{

  width: 1.1rem;
  height: 1.1rem;
  margin-left: 87%;
  margin-top: 29%;
  position: fixed;
  fill: #fff;

}
.icon-help:hover{
  fill: #12f3f3;
}


}